<nav id="main_nav">

  <div id="options_container">

       <a href="/">
           <i class=" icon fa fa-home"></i>
          <span class="onhover">Home</span>
        </a>

         {{#if isLoggedIn}}
            <a href="/users/{{logInUser._id}}/trips" > 
                <i class=" icon fa fa-suitcase"></i>
                <span class="onhover">Plan a trip</span>
           </a>
         {{else}}
            <a href="/trips">
                <i class=" icon fa fa-suitcase"></i>
                <span class="onhover">Plan a trip</span>
            </a>
          {{/if}}
          

        {{#if isLoggedIn}}
          <a href="/users/{{logInUser._id}}/friends"> 
              <i class="icon fa fa-users"></i>
              <span class="onhover">Your network</span>
          </a>
         {{else}}
         <a href="/friends">
              <i class="icon fa fa-users"></i>
              <span class="onhover">Your network</span>
          </a>
          {{/if}}
          
 
       {{#if isLoggedIn}}
        <a href="/users/{{logInUser._id}}/friend_add"> 
            <i class="icon fa fa-user-plus"></i>
            <span class="onhover">Add a friend</span>
        </a>
        {{else}}
         <a href="/friend_add">
            <i class="icon fa fa-user-plus"></i>
             <span class="onhover">Add a friend</span>
        </a>
          {{/if}}
          

        {{#if isLoggedIn}}
        <a href="/users/{{logInUser._id}}/share">
        {{else}}
        <a href="/share">
          {{/if}}
          <i class="icon fa fa-share-alt"></i>
          <span class="onhover">Share a trip</span>
        </a>
  </div>

  <div id="log_details">
      {{#if isLoggedIn}}
        <div class="login-wrapper">
            <span id="hellouser"> Hello {{logInUser.username}} </span>
            <a   class="login_status" href="/trips">  <img class ="icon" id="log_image" src="{{logInUser.picture}} ">  </a>
            <a  class="login_status" href="/logout" id="logoutlink"> LOG OUT</a>
        </div>
        
   

      {{else}}
        <div class="login-wrapper">
            <a   class="login_status" href="/signup"> SIGN UP </a>
            <a   class="login_status" href="/login" id="logoutlink">  LOG IN </a>
        </div>
        

      {{/if}}
  
  </div>

</nav>


