
{{>nav}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

<!-- <script src="../javascripts/trips.js"></script> -->
<script src="/../javascripts/lightpick.js"></script>
<script src="/../javascripts/jquery.flexdatalist.min.js"></script>

<div class="main-body">
<div class="big-container product-manage-wrapper flexed-item">
    <h1>Edit your trip!</h1>
    
    <form action="/tripsData/{{trip._id}}" method="POST" class="add-trip-form" enctype="multipart/form-data">
        <div class="form-item-wrapper">
            <label for="name" class="label-name label">Name your trip</label>
            <br>
            <input type="text" name="name" class="input-text input" placeholder="e.g Madagascar 2019" value={{trip.name}} required>
        </div>

        <div class="form-item-wrapper"> 
            <label for="start_date" class="label-name label">When does it start?</label>
            <br>
            <input type="text" id="date-picker-start" name="start_date" class="input-text input"  value={{start}} required>
        </div>

        <div class="form-item-wrapper">
            <label for="end_date" class="label-name label">When does it end?</label>
            <br>
            <input type="text" id="date-picker-end" name="end_date" class="input-text input"  value={{end}} required>
        </div>

        <div class="form-item-wrapper">
            <label for="countries" class="label-name label">Which countries do you plan to visit ?</label>
            <br>
            <input type='text'
                name='countries'
                value={{trip.countries}}
                data-value-property='name'
                data-data='countries.json'
                class='flexdatalist input-text input'
                data-search-in='name'
                multiple='multiple'
                placeholder='Write one or multiple country names'
                data-visible-properties='["name","capital","continent"]'
                data-selection-required='true'
                data-min-length='1'
                data-toggle-selected='true'              
                >  
        </div>

        <div class="form-item-wrapper">
            <label for="picture" class="label-name label">Upload a picture !</label>
            <br>
            <input type="file" name="picture" class="input-text input" placeholder={{trip.picture}} required>
        </div>

        <button id="edit-trip-button" class="button-primary">Save changes</button>

    </form>
</div>
</div>
{{>footer}}
<script>
   new Lightpick({
    field: document.getElementById('date-picker-start'),
    format: 'MM/DD/YYYY'
    });

    new Lightpick({
    field: document.getElementById('date-picker-end'),
    format: 'MM/DD/YYYY'
     });

    $('.flexdatalist').flexdatalist({       
    valueProperty: 'name',
    searchIn: 'name',
    data: 'countries.json',

    //minLength: 1,
    //selectionRequired: true,
    //visibleProperties: ["name","capital","continent"],
     });

</script>


