<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="/../javascripts/maphandler.js"></script>
<script src="/../javascripts/utils.js"></script>
<script src="/../javascripts/tripdetails.js"></script>
<script src="/../javascripts/lightpick.js"></script>

{{>nav}}

<div class="main-body">

  <div id="img-background" style="background-image: url({{tripResponse.picture}})">
  </div>

  <div id="wrapper-trip-details">

    <div id="title_container">


      <section class='title'>
        <h2>{{tripResponse.name}} </h2>
        <span>  In {{countries}} from {{start}} to {{end}} </span> 
        
      </section>

      <!-- <a id="back_to_trip" {{#if isLoggedIn}} href="/users/{{logInUser._id}}/trips" 
      {{else}} href="/login" 
      {{/if}} /> Back to my trips </a>
      -->

    </div>

    <div id="trip_details_container" class="medium_padding">
      <div id="trip_details_form_container" class="medium_padding">
        <div class="trip_details_form_labels">
          <div class="header"> Start </div>
          <div class="header"> End </div>
          <div class="header"> What </div>
          <div class="header"> Where </div>
          <div class="header invisible"> </div>
          <!--<div class="header"> Add </div>-->
        </div>

        <form class="trip_details_form"></form>

      </div>
      <div id="trip_details_map"> Trip details map</div>
    </div>

  </div>
</div>
{{>footer}}